@import 'font.scss';
@import 'header.scss';
@import 'terms-and-conditions.scss';
@import 'verify-identity.scss';
@import 'button.scss';
@import 'otp-confirm-popup.scss';
@import 'loading-full.scss';
@import 'policy.scss';
@import 'policy-each.scss';
@import 'policy-main-card.scss';
@import 'insurance-detail.scss';
@import 'no-user.scss';


*,*::before, *::after {
  font-family: 'supermarket', sans-serif;
}

:root {
  --bg-light-grey: #F5F5F4;
  --bg-grey: #C4C4C4;
  --bg-white: #ffffff;
  --text-grey: #969393;
  --text-blue: #3B90FE;
  --border-grey: #D6D7D6;
  --navakij-navy: #022D60;
}

html {
  // width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color:var(--bg-white);
  color: var(--text-grey);
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App {
  width: 100%;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='number'],
input {
  font-size: 16px;
}

ul {
  &.unstyle {
    list-style: none;
  }
}



// Alignment Classes

.text-center {
  text-align: center !important;
}

.flex {
  display: flex !important;

  &-column {
    flex-direction: column;
  }
}

.align-items-center {
  align-items: center;
}
// Spacing Classes

.m-t-16 {
  margin-top: 16px !important;
}

.m-b-16 {
  margin-bottom: 16px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

// Gap
.gap-8 {
  gap: 8px !important;
}