.btn {
  border: none;
  border-radius: 5px;
  height: 44px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

.btn:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--navakij-navy);
  color: white;
}

.btn-cancel {
  background-color: rgb(185, 185, 185);
  color: white;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}