.btn {
  border: none;
  border-radius: 5px;
  height: 44px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

.btn-primary {
  background-color: var(--navakij-navy);
  color: white;
}

.btn-cancel {
  background-color: rgb(185, 185, 185);
  color: white;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}