// @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');


@font-face {
  font-family: "supermarket";
  src: url('../fonts/supermarket.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Trade Gothic LT Pro;
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Trade Gothic LT Pro;
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Trade Gothic LT Pro;
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Bd2.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Trade Gothic LT Pro;
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}