
@font-face {
  font-family: 'supermarket';
  src: url('../fonts/supermarket-webfont.eot');
  src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/supermarket-webfont.woff2') format('woff2'),
       url('../fonts/supermarket-webfont.woff') format('woff'),
       url('../fonts/supermarket-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('../fonts/TradeGothicLTPro.woff2') format('woff2'),
      url('../fonts/TradeGothicLTPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Bd2.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Trade Gothic LT Pro';
  src: url('../fonts/TradeGothicLTPro/TradeGothicLTPro-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}