.header {
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  margin: 0;
  width: 100%;
  padding: 8px 10px 8px 10px;
  border-bottom: 1px solid var(--border-grey);
  
  .header__logo {
    height: 27px;
    cursor: pointer;
  }
}
