.policy {
  .policy-main-card-container {
    height: 214px;
    padding: 20px 32px 0px 32px;
    display: flex;
    justify-content: center;
  }
  .policy-sub-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #f4f4f4;
    overflow-y: scroll;
    padding: 20px;

    .policy-sub-card {
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      min-width: 320px;
      min-height: 138px;
      align-items: center;
      cursor: pointer;

      .label-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--navakij-navy);
        font-size: 16px;
        padding-left: 14px;
        padding-top: 4px;
        padding-bottom: 4px;

        .flex {
          .label {
            min-width: 100px;
          }

          .value {
            font-weight: bold;
            max-width: 200px;
            word-break: break-word
          }
        }
      }

      .next-button-wrapper {
        width: 50px;
      }


    }

    .policy-sub-card:active {
      background-color: #f0f0f0;
      opacity: 0.8;
      transform: scale(0.98);
    }

    .empty-space {
      height: 110px;
    }

  }
  .footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;

    .call-wrapper {
      background-color: #696A6E;
      border-radius: 10px;
      width: 120px;
      color: white;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 4px;
      margin: 10px 0;
      
      .text {
        font-size: 14px;
        margin-top: 4px;
        color: white;
      }

      .phone-icon {
        font-size: 16px;
        
      }
    }
  }
}